*{
  font-family: "Raleway", sans-serif;
}

html, body{
    background-color: #ccc;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar{
  width: 20px;
  background-color: #2e2e2e;
  background: linear-gradient(180deg, rgba(46,46,46,1) 60px, rgba(204,204,204,1)60px);
}

body::-webkit-scrollbar-thumb{
  background-color: #ffcb20;
  border-radius: 10px;
  box-shadow: inset 0 0 4px #272727c4;
}

/* MOBILE NAVBAR (TOP) */
.topnavContainer{
    z-index: 9999;
    background: #2e2e2e;
    text-align: center;
    position: fixed;
    width: 100%;
}
  
.topnavContainer img{
    -webkit-user-drag: none;
}
  
.logo{
    width: 20%;
    padding: 5px 0px 5px 0px;
}
  
.topnav{
    position: absolute;
    text-align: left;
    background: #2e2e2e;
    width: 100%;
    transition: transform 400ms ease-in-out;
    transform-origin: top;
    transform: scale(1, 0);
}
  
.topnav ul{
    list-style: none;
}
  
.topnav li{
    margin-bottom: 16px;
    margin-left: 16px;
}
  
.topnav a{
    color: white;
    font-size: 23px;
    text-decoration: none;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
  
.topnav .active{
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
  
.topnav a:hover{
    border-bottom: 0;
    font-weight: bolder;
}
  
.nav-toggle{
    display: none;
}
  
.nav-toggle:checked ~ .topnav{
    transform: scale(1, 1);
}
  
.nav-toggle:checked ~ .topnav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}
  
.nav-toggle-label img{
    margin-left: 16px;
    left: 0;
    width: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/* EINDE NAVBAR */

/* SUB NAVBAR */
#subnavContainer{
  position: fixed;
  margin: 0; padding: 0;
  transform: translate(233%, 70px);
  width: 30%;
  z-index: 2;
}

#navlist{
  list-style: none;
}

.homelink, .titlelink, .resetBtn{
  display: block;
  font-size: 15px;
  text-align: left;
  margin-bottom: 8px;
  background: none;
  border: none;
  animation: fadeIn 0.5s;
}

.homelink{
  font-size: 25px;
  margin-bottom: 6px;
  color: #ffcb20;
  font-weight: bolder;
  text-shadow: 1px 1px 0 rgb(41, 41, 41),
               1.5px 2px 0 rgb(41, 41, 41);
  transition: all 0.2s;

}

.homelink:hover{
  transform: translateX(1px);
  text-shadow: 1px 1px 0 rgb(41, 41, 41),
               2px 2px 0 rgb(41, 41, 41),
               3px 3px 0 rgb(41, 41, 41);
}

.resetBtn{
  font-weight: bolder;
  color: rgb(255, 51, 0);
  font-size: 15px;
  position: absolute;
  transform: translate(95px, -27px);
  transition: all 0.2s;
}

.resetBtn:hover{
  font-size: 20px;
  transform: translate(94px, -32px);
}

.titlelink::before{
  font-size: 20px;
  content: "•";
  position: absolute;
  transform: translate(-11px, -3.5px);
}

.homelink::before{
  color: black;
  text-shadow: none;
  font-size: 20px;
  content: "↑";
  position: absolute;
  transform: translate(-12px, 3px);
}

.titlelink:focus, .homelink:focus{
  outline: none;
}

.active{
  font-weight: bolder;
}
/* EINDE NAV */

#mainContainer, #infoMainContainer{
    width: 40%;
    background-color: white;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 150px;
    max-width: 80%;
    height: 580px;
    transform: translateY(11%);
    border-radius: 3px;
}

#infoMainContainer{
  height: 550px;
}

#mainContainer > header > img{
  width: 100%;
}

#infoMainContainer > header > img{
    width: 100%;
    border-radius: 3px;
}

#mainContainer > header > h1, #mainContainer > p, #infoMainContainer > header > h1, #infoMainContainer > p{
    text-align: center;
}

.yellow, .black{
    font-family: Helvetica, sans-serif;
}

.yellow{
    color: #fcbe19;
    text-shadow: 1px 1px black;
}

.inputButton p{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

#inputFile{
    background: #2e2e2e;
    color: white;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 4px;
    display: block;
    width: 55%;
    margin: 0px auto;
}

#convertShowBtn{
  background: #ffcb20;
  display: block;
  margin: 0px auto;
  margin-top: 40px;
  padding: 8px 20px;
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  transition: all 0.5s ease-in-out;
}

#convertShowBtn:hover{
  background: #ffe600;
  font-size: 16.3px;
}

.textArea, #extraInfoContainer{
  word-wrap: break-word;
  width: 30%;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 100px;
  padding-top: 60px;
  padding-bottom: 10px;
  transform: translateY(100px);
  border-radius: 3px;
}

.title{
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid #ffcb20;
  
}

.text{
  font-size: 17px;
}

#time{
  position: absolute;
  font-size: 10px;
  color:rgb(126, 126, 126);
  margin-top: 5px;
  margin-right: 20px;
  margin-left: -60px;
  user-select: none;
}

#actor{
  font-size: 17px;
  margin-left: -60px;
  font-weight: bold;
}

.hiddenOutput{
  display: none;
}

.openTxt, .copyBtn{
  width: 95px;
  padding-left: 30px;
  height: 32px;
  float: right;
  border: none;
  background: none;
  transform: translate(75px, -30px);
  border-radius: 5px;
  font-size: 15px;
  background-color: #ffcb20;
  margin-left: 10px;
}

.openTxt > img{
  position: absolute;
  transform: translate(-25px, 0px);
  width: 19px;
}


.copyBtn > img{
  position: absolute;
  width: 19px;
  transform: translate(-25px, 0px);
}

#extraInfoContainer{
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

#extraInfoContainer p{
  font-size: 18px;
  margin-bottom: 10px;
}

#extraInfoContainer a{
  font-size: 20px;
  margin-right: 15px;
  text-decoration: none;
  color: #ffd900;
  text-shadow: 0.5px 1px 1px #000000;
  font-weight: bolder;
  transition: all 0.2s;
}

#extraInfoContainer a:hover{
  color: #ffe600;
}


/* NAVBAR ZONDER TOGGLE (VOOR DESKTOP WEBPAGINA) */
@media only screen and (min-width: 800px){
    .nav-toggle-label{
      display: none;
    }
  
    .topnavContainer{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
    }
  
    .logo{
      display: grid;
      width: 33%;
      position: relative;
      left: 117%;
      transform: translateX(50%);
      grid-column: 2;
      align-self: center;
      z-index: 1;
    }
  
    .topnav{
      display: grid;
      transform: scale(1, 1);
      background: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .topnav a{
      opacity: 1;
      position: relative;
    }
  
    .topnav a::before,
    .topnav a::after{
      content: '';
      display: block;
      height: 4px;
      position: absolute;
      left: 0;
      right: 0;
      opacity: 0.8;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }
  
    .topnav a::before{
      background: #fcbe19;
      top: -5px;
      transform-origin: left;
      border-top-right-radius: 20px;
    }
  
    .topnav a::after{
      top: 30px;
      transform-origin: right;
      border-bottom-left-radius: 20px;
      background: black;
    }
  
    .topnav a:hover::before, .topnav a:hover::after{
      transform: scale(1, 1);
    }
  
    .topnav ul{
      display: flex;
      margin: 0 auto;
    }
  
    .topnav li{
      margin-left: 50px;
      margin-bottom: 0;
    }
  
    .nav-leftarea{
      position: relative;
      left: 230px;
      grid-column: 1;
      }
  
    .nav-rightarea{
      position: relative;
      right: 320px;
      grid-column: 3;
      }
  
      @media only screen and (min-width: 700px) and (max-width:1500px){
        .nav-leftarea{
          left:0px;
        }
        .nav-rightarea{
          right:95px;
        }
      }
}
/* EIND NAV */

@media only screen and (max-width: 1500px){
  #subnavContainer{
    transform: translate(-5%, 70px);
    width: 20%;
  }
}

@media only screen and (max-width: 1200px){
  .titlelink{
    font-size: 13px;
  }
  #mainContainer{
    height: 400px;
  }
}

@media only screen and (max-width: 1050px){
  #subnavContainer{
    display: none;
  }
  #infoMainContainer{
    height: 700px;
  }
}

@media only screen and (max-width: 800px){
  #mainContainer, #infoMainContainer{
    padding: 40px;
    padding-bottom: 70px;
    width: 80%;
    height: 500px;
  }

  #mainContainer header img, #infoMainContainer header img{
    width: 70%;
    transform: translateX(21%);
  }

  #infoMainContainer p, #infoMainContainer p{
    font-size: 15px;
  }

  #extraInfoContainer{
    padding: 40px;
    width: 80%;
  }

  .textArea{
    padding: 40px;
    width: 80%;
  }

  .text{
    margin-left: 60px;
  }

  .copyBtn, .openTxt{
    transform: translate(15px, -20px);
  }
}

@media only screen and (max-width: 500px){
  #infoMainContainer{
    height: 600px;
  }
}

@media only screen and (max-width: 400px){
  #mainContainer{
    height: 430px;
  }
}

@keyframes fadeIn{
  0%{opacity: 0%;}
  100%{opactity: 100%;}
}

